extends ../../../../caminio-ui/api/views/layouts/application

append head
  if env === 'production'
    link( rel='stylesheet', href='/stylesheets/caminio-rocksol.min.css' )
  else
    link( rel='stylesheet', href='/stylesheets/3rdparty/ghostdown.css' )
    link( rel='stylesheet', href='/stylesheets/caminio-rocksol/websites.css' )

append foot
  if env === 'production'
    script(type='text/javascript', src='/javascripts/caminio-rocksol.min.js')
  else
    script(type='text/javascript', src='/javascripts/caminio-rocksol/locales/#{i18n.locale()}.js')
    script(type='text/javascript', src='/javascripts/caminio-rocksol/router.js')
    script(type='text/javascript', src='/javascripts/caminio-rocksol/models/translation.js')
    script(type='text/javascript', src='/javascripts/caminio-rocksol/models/pebble.js')
    script(type='text/javascript', src='/javascripts/caminio-rocksol/models/webpage.js')
    script(type='text/javascript', src='/javascripts/caminio-rocksol/controllers/webpages_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-rocksol/controllers/webpages_edit_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-rocksol/views/edit_webpage_view.js')
    script(type='text/javascript', src='/javascripts/3rdparty/ghostdown.js')
    script(type='text/javascript', src='/javascripts/3rdparty/jquery.ghostdown.js')


block content

  aside#notifications.notifications
    
  script(type="text/x-handlebars")
    include hbs/app.hbs
    
  script(type="text/x-handlebars" data-template-name="webpages/index")
    include hbs/webpages/index.hbs

  script(type="text/x-handlebars" data-template-name="webpages/edit")
    include hbs/webpages/edit.hbs

  // partial
  script(type="text/x-handlebars" data-template-name="webpages/tree")
    include hbs/webpages/_tree.hbs
  script(type="text/x-handlebars" data-template-name="webpages/details")
    include hbs/webpages/_details.hbs