.main-view{
  border-right-color: #A63744;
}
.webpages-tree .locales{
  visibility: hidden;
}
.webpages-tree .item-container:hover .locales{
  visibility: visible;
}
.webpages-tree .item-container.selected{
  background-color: #ffc;
}

.webpages-tree{
  margin-left: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.webpages-tree .item-container{
  position: relative;
}

.webpages-tree .item-container:before{
  content: "\f196";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 8px;
  left: 10px;
  color: #777;
  font-size: 14px;
}

.webpages-tree li.tree-branch-open .item-container:before{
  content: "\f147";
}

.webpages-tree li.tree-node-icon .item-container:before{
  display: none;
}

.webpages-tree .item-container.ui-draggable{
  position: absolute;
  z-index: 1000;
}

.webpages-tree li.droppable-candiate .item-container{
  background-color: #4877D6;
  color: #fff;
}

.mini-title .close{
  float: right;
  margin: -10px -5px 0 0;
}
.mini-title .save{
  float: right;
  margin: -10px 5px 0 0; 
  padding: 5px 15px 6px;
}

.webpages-tree .btn.status-indicator{
  border: none;
  float: left;
  height: 2.3em;
  margin: -5px 20px 0 -5px;
  padding: 0;
  width: 5px;
}

.input{
  height: 600px; /* TODO */
}

.features{
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 400px;
}

body .features .editor .CodeMirror-lines{
  margin: 15px 15px 0 38px;
  padding: 5px;
}

body .features .editor .CodeMirror pre{
  padding: 0;
}

body .features .editor .entry-preview-content{
  padding: 20px 5px 0 0;
}

body .features .editor .entry-markdown, 
body .features .editor .entry-preview{
  background: #fafafa;
}
body .features .editor .entry-preview{
  border-left-color: #fafafa;
}

body .features .editor .CodeMirror{
  top: 20px;
}

body .features .editor .entry-markdown .floatingheader{
  padding: 0;
}

body .features .editor .entry-markdown.active .markdown, 
body .features .editor .entry-markdown.active .entry-preview-content, 
body .features .editor .entry-preview.active .markdown, 
body .features .editor .entry-preview.active .entry-preview-content{
  outline: none;
}