.main-view{
  max-width: 100%;
}
.mini-title .close{
  float: right;
  margin: -10px -5px 0 0;
}
.mini-title .save{
  float: right;
  margin: -10px 5px 0 0; 
  padding: 5px 15px 6px;
}

.input{
  height: 600px; /* TODO */
}

.features{
  position: absolute;
  top: 125px;
  left: 0;
  right: 25px;
  height: 400px;
}

body .features .editor .CodeMirror-lines{
  margin: 15px 15px 0 38px;
  padding: 5px;
}

body .features .editor .CodeMirror pre{
  padding: 0;
}

body .features .editor .entry-preview-content{
  padding: 20px 5px 0 0;
}

body .features .editor .entry-markdown, 
body .features .editor .entry-preview{
  background: #f5f5f5;
  top: 20px;
  bottom: 20px;
}
body .features .editor .entry-markdown{
  border-right: 1px solid #ddd;
}
body .features .editor .entry-preview{
  border-left-color: transparent;
  border-right: 10px solid transparent;
  box-shadow: none;
  right: 5px;
  left: 50%;
}

body .features .editor .CodeMirror{
  top: 20px;
}

body .features .editor .entry-markdown .floatingheader{
  padding: 0;
}

body .features .editor .entry-markdown.active .markdown, 
body .features .editor .entry-markdown.active .entry-preview-content, 
body .features .editor .entry-preview.active .markdown, 
body .features .editor .entry-preview.active .entry-preview-content{
  outline: none;
}

.toggle-container{
  padding: 3px 0;
  color: #999;
}
.toggle-container:hover,
.toggle-container:active{
  text-decoration: none;
  color: #777;
}
.toggle-container .fa{
  float: left;
  margin: -3px 5px 0 0;
}
.toggle-container:hover{
  color: #555;
}
.activities-tab .mini-title{
  padding-top: 8px;
}
ul.locations,
ul.activities{
  list-style: none;
  padding: 0;
}
ul.locations li,
ul.activities li{
  padding: 5px;
  border: 1px solid #ddd;
  margin: 3px 5px;
  cursor: pointer;
}
ul.locations li.active,
ul.activities li.active{
  background-color: #ffc;
}
ul.locations .btn,
ul.activities .btn{
  margin: -3px -3px 0 0;
}

ul.locations .fa-map-marker,
ul.activities .fa-clock-o{
  float: left;
  margin: 3px 5px 0 0;
}

ul.activities time{
  float: left;
  margin-right: 5px;
  width: 120px;
}
ul.activities .location{
  color: #aaa;
  font-size: 0.8em;
}

ul.pebbles-list{
  margin: 5px;
  padding: 0;
  list-style: none;
}
ul.pebbles-list li{
  margin: 3px 0;
  padding: 5px;
  border: 1px solid #ddd;
  background: #fafafa;
  color: #555;
  cursor: pointer;
}
ul.pebbles-list li .fa{
  float: left;
  margin: 3px 5px 0 0;
  color: #777;
}
.pebble-box{
  background: #fafafa;
}

.details-container.teaser-preview{
  margin: 40px 20px;
  position: relative;
  min-height: 100px;
  padding: 5px;
}
.details-container.teaser-preview .title{
  margin: auto;
}

.teaser-preview #crop-img{
  width: 100%;
}

.previews{
  margin: 20px 0;
}

.preview-header{
  font-size: 2rem;
  color: #bbb;
  font-weight: 100;
  margin-top: 1rem;
}

.preview-thumb{
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px #aaa;
  display: block;
  margin-bottom: 2rem;
  /*border: 3px solid transparent;*/
}
.preview-thumb img{
  width: 100%;
}
.preview-thumb.active{
  border-color: #000;
}

.teaserreplace-btn{
  position: relative;
}
.teaserreplace-btn input{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.pebble-plugin-text{
  position: relative;
  min-height: 600px;
}

.pebble-plugin-text .features{
  top: 10px;
  min-height: 500px;
}

.seats{
  width: 5em;
}

.locations-form{
  padding: 20px;
}

#location-map{
  width: 100%;
  height: 400px;
}
